Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

fix: bump Go to 1.25.8 to fix CVE-2025-61728, CVE-2025-61726, CVE-2025-61729
  go.mod
Due: none

Remove Metrics Exporter Logger due to OTEL migration
  test/framework/helper.go
Due: lint-go, test

Migrate tracing from OpenCensus to OpenTelemetry
  go.mod
  go.sum
  test/wait/helper-wait.go
  vendor/github.com/golang/groupcache/LICENSE
  vendor/github.com/golang/groupcache/lru/lru.go
  vendor/go.opencensus.io/.gitignore
  vendor/go.opencensus.io/AUTHORS
  vendor/go.opencensus.io/CONTRIBUTING.md
  vendor/go.opencensus.io/LICENSE
  vendor/go.opencensus.io/Makefile
  vendor/go.opencensus.io/README.md
  vendor/go.opencensus.io/appveyor.yml
  vendor/go.opencensus.io/internal/internal.go
  vendor/go.opencensus.io/internal/sanitize.go
  vendor/go.opencensus.io/internal/traceinternals.go
  vendor/go.opencensus.io/opencensus.go
  vendor/go.opencensus.io/trace/basetypes.go
  vendor/go.opencensus.io/trace/config.go
  vendor/go.opencensus.io/trace/doc.go
  vendor/go.opencensus.io/trace/evictedqueue.go
  vendor/go.opencensus.io/trace/export.go
  vendor/go.opencensus.io/trace/internal/internal.go
  vendor/go.opencensus.io/trace/lrumap.go
  vendor/go.opencensus.io/trace/sampling.go
  vendor/go.opencensus.io/trace/spanbucket.go
  vendor/go.opencensus.io/trace/spanstore.go
  vendor/go.opencensus.io/trace/status_codes.go
  vendor/go.opencensus.io/trace/trace.go
  vendor/go.opencensus.io/trace/trace_api.go
  vendor/go.opencensus.io/trace/trace_go11.go
  vendor/go.opencensus.io/trace/trace_nongo11.go
  vendor/go.opencensus.io/trace/tracestate/tracestate.go
  vendor/modules.txt
Due: lint-go, test

New version v0.37.5
  VERSION
Due: none

(deps) Bump go version to 1.25.8 to fix CVE-2026-25679
  go.mod
Due: none

Update golang to 1.25.9 to fix CVE-2026-33810
  go.mod
Due: none

New version v0.37.6
  VERSION
Due: none

Add CI summary job to the github workflows
  .github/workflows/ci.yaml
Due: lint-yaml

Add CI summary job to the github workflows
  .github/workflows/ci.yaml
  vendor/github.com/alibabacloud-go/cr-20160607/LICENSE
  vendor/github.com/alibabacloud-go/cr-20160607/client/LICENSE
Due: lint-yaml

fix: CVE-2025-61729 - update contrib Dockerfile to use Go 1.25.6
  contrib/tkn-image/Dockerfile
Due: none

Bump pipelines to 1.6.1 to fix CVE CVE-2026-33211
  go.mod
  go.sum
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/pod/template.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/swagger.json
  vendor/github.com/tektoncd/pipeline/test/e2e-tests.sh
  vendor/github.com/tektoncd/pipeline/test/multiarch_utils.go
  vendor/modules.txt
Due: none

Update OWNERS file for release-v0.37.6 branch
  OWNERS
Due: none

Bump tektoncd/pipeline to 1.3.4 to fix CVE-2026-33211
  go.mod
  go.sum
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/pod/template.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/container_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/pipelinerun_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/taskrun_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/task_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/taskrun_validation.go
  vendor/github.com/tektoncd/pipeline/test/e2e-common.sh
  vendor/github.com/tektoncd/pipeline/test/e2e-tests-kind-alpha.env
  vendor/github.com/tektoncd/pipeline/test/e2e-tests-kind-beta.env
  vendor/github.com/tektoncd/pipeline/test/e2e-tests-kind-stable.env
  vendor/github.com/tektoncd/pipeline/test/e2e-tests.sh
  vendor/github.com/tektoncd/pipeline/test/multiarch_utils.go
  vendor/github.com/tektoncd/pipeline/test/presubmit-tests.sh
  vendor/modules.txt
Due: none

fix: CVE-2025-61729 & CVE-2025-61726 - upgrade go version to >1.25.5
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-matrix.yml
  go.mod
  go.sum
  vendor/github.com/sigstore/sigstore/pkg/tuf/client.go
  vendor/modules.txt
Due: lint-yaml

New version v0.42.2
  VERSION
Due: none

Path conditions:
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test: any of: \.go$, but not: (^vendor|.*golden$)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
