Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

Update goreleaser version to v.12.0
  tekton/release-pipeline.yml
Due: lint-yaml

Update README and choco with latest release
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Fix `fialed to watch` context canceled error when streaming logs
  pkg/pipelinerun/tracker.go
  pkg/pipelinerun/tracker_test.go
  pkg/pods/pod.go
  pkg/pods/pod_test.go
Due: lint-go, test

feat: add cherry-pick command workflow
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

refactor(logs): 将display-name参数重命名为long
  docs/cmd/tkn_pipelinerun_logs.md
  docs/man/man1/tkn-pipelinerun-logs.1
  pkg/cmd/pipelinerun/logs.go
  pkg/options/logs.go
Due: lint-go, test

Bump golang.org/x/oauth2 to version v0.27.0
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: none

Bump github.com/golang-jwt/jwt/v4 and v5 to version v5.2.2
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: none

New version v0.37.2
  VERSION
Due: none

feat: add describe subcommand in customrun command
  docs/cmd/tkn_customrun.md
  docs/cmd/tkn_customrun_describe.md
  docs/man/man1/tkn-customrun-describe.1
  docs/man/man1/tkn-customrun.1
  pkg/cmd/customrun/customrun.go
  pkg/cmd/customrun/describe.go
  pkg/cmd/customrun/describe_test.go
  pkg/cmd/customrun/testdata/TestCustomRunDescribe_cancelled.golden
  pkg/cmd/customrun/testdata/TestCustomRunDescribe_empty_customrun.golden
  pkg/cmd/customrun/testdata/TestCustomRunDescribe_failed.golden
  pkg/cmd/customrun/testdata/TestCustomRunDescribe_only_one_customrun_present.golden
  pkg/cmd/customrun/testdata/TestCustomRunDescribe_with_labels_and_annotations.golden
  pkg/cmd/customrun/testdata/TestCustomRunDescribe_with_params.golden
  pkg/cmd/customrun/testdata/TestCustomRunDescribe_with_results.golden
  pkg/options/describe.go
  pkg/options/resource_names.go
Due: lint-go, test

Fix golangci-lint Go version mismatch in make lint-go
  .github/workflows/ci.yaml
  Makefile
  go.mod
  tools/go.mod
Due: lint-yaml

Fix golangci-lint Go version mismatch in make lint-go
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
  Makefile
  go.mod
  test/e2e-tests.sh
  tools/go.mod
Due: lint-yaml

Fix golangci-lint action step for large diff
  .github/workflows/ci.yaml
Due: lint-yaml

Bump github.com/sigstore/fulcio from 1.8.4 to 1.8.5
  go.mod
  go.sum
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2/options/openapiv2.pb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2/options/openapiv2.proto
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2/options/openapiv2_protoopaque.pb.go
  vendor/github.com/prometheus/common/expfmt/expfmt.go
  vendor/github.com/prometheus/common/expfmt/fuzz.go
  vendor/modules.txt
Due: none

update the release script to fetch tasks from artifacthub
  tekton/release.sh
Due: none

New version v0.42.1
  VERSION
Due: none

Update goreleaser version to v2.13.3
  tekton/release-pipeline.yml
Due: lint-yaml

cleanup: update golangci-lint to v2
  .golangci.yml
  Makefile
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: lint-go, test, lint-yaml

Fix golang CI lint failures
  .github/workflows/ci.yaml
  .golangci.yml
Due: lint-yaml

New version v0.37.3
  VERSION
Due: none

Makefile: fix lint-go with workflow version and project Go toolchain
  Makefile
  cmd/tkn/main.go
  pkg/cmd/version/version.go
  pkg/cmd/version/version_test.go
  pkg/log/log.go
  pkg/log/writer.go
  pkg/plugins/plugins.go
  pkg/version/version.go
  pkg/version/version_test.go
Due: lint-go, test

Switch hub dependency org to openshift-pipelines
  go.mod
  go.sum
  vendor/modules.txt
Due: none
