Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

PinP: address review comments and add tests
  pkg/cmd/pipelinerun/describe_v1_test.go
  pkg/cmd/pipelinerun/logs_test.go
  pkg/cmd/pipelinerun/testdata/TestPipelineRunDescribe_PinP_NilStartTime.golden
  pkg/log/pipeline_reader.go
  pkg/pipelinerun/tracker.go
  pkg/pipelinerun/tracker_test.go
  pkg/taskrun/taskrun.go
  pkg/taskrun/taskrun_test.go
Due: lint-go, test

bump openshift-pipelines/hub to v1.23.12
  go.mod
  go.sum
  vendor/modules.txt
Due: none

fix(cve): bump Go stdlib to 1.25.11 and golang.org/x/net to v0.55.0
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/server_common.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/transport_common.go
  vendor/golang.org/x/net/http2/writesched_common.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  vendor/modules.txt
Due: none

New version v0.44.2
  VERSION
Due: none

PinP: follow full segment chain when resolving task retries
  pkg/log/pipeline_reader.go
  pkg/pipelinerun/tracker.go
  pkg/pipelinerun/tracker_test.go
Due: lint-go, test

Add CONTEXT.md for AI agent consumption
  CONTEXT.md
Due: none

chore(deps): add dependabot config for active release branches
  .github/dependabot.config.yml
  .github/dependabot.yml
  .github/workflows/dependabot-regen.yml
  hack/generate-dependabot.go
  hack/generate-dependabot.sh
  releases.md
Due: lint-go, test, lint-yaml

feat: add --log-failed flag to pipelinerun logs command
  docs/cmd/tkn_pipelinerun_logs.md
  docs/man/man1/tkn-pipelinerun-logs.1
  pkg/cmd/pipelinerun/logs.go
  pkg/cmd/pipelinerun/logs_test.go
  pkg/log/pipeline_reader.go
  pkg/log/reader.go
  pkg/options/logs.go
  pkg/taskrun/taskrun.go
Due: lint-go, test

fix(cve): CVE-2026-42499, CVE-2026-39820 - update Go 1.25.9 to 1.25.10
  go.mod
Due: none

fix(cve): CVE-2026-42499, CVE-2026-39820 - update Go 1.25.9 to 1.25.10
  go.mod
  vendor/github.com/alibabacloud-go/cr-20160607/LICENSE
  vendor/github.com/alibabacloud-go/cr-20160607/client/LICENSE
Due: none

feat: add --json flag to pipeline and task start commands
  pkg/cmd/pipeline/start.go
  pkg/cmd/pipeline/start_test.go
  pkg/cmd/task/start.go
  pkg/cmd/task/start_test.go
Due: lint-go, test

docs: add --json flag documentation for pipeline and task start commands
  docs/cmd/tkn_pipeline_start.md
  docs/cmd/tkn_task_start.md
  docs/man/man1/tkn-pipeline-start.1
  docs/man/man1/tkn-task-start.1
Due: none

PinP: cleanup tests and add retry coverage
  pkg/cmd/pipelinerun/logs_test.go
  pkg/pipelinerun/tracker_test.go
  pkg/taskrun/taskrun_test.go
Due: lint-go, test

fix: move applyJSONSpec call after input collection
  pkg/cmd/pipeline/start.go
  pkg/cmd/task/start.go
Due: lint-go, test

fix(cve): bump Go stdlib to 1.25.11 and golang.org/x/net to v0.55.0
  go.mod
Due: none

fix(cve): CVE-2026-33811, CVE-2026-39833 - update Go stdlib and x/crypto
  go.mod
Due: none

fix(cve): bump golang.org/x/net to v0.55.0 [release-v0.42.2]
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/server_common.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/transport_common.go
  vendor/golang.org/x/net/http2/writesched_common.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  vendor/modules.txt
Due: none

CI: Group all GitHub Actions dependabot updates together
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

CI: Use goinstall mode for golangci-lint action
  .github/workflows/ci.yaml
Due: lint-yaml
