Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

feat(rpmbuild): update bash-completion handling
  tekton/rpmbuild/tekton.spec
Due: none

New version v0.38.2
  VERSION
Due: none

New version v0.39.1
  VERSION
Due: none

Bump readme for v0.39.1
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Bump to goreleasr v2.2.0
  tekton/release-pipeline.yml
Due: lint-yaml

Bump clockwork from 0.4.0 to 0.5.0
  go.mod
  go.sum
  pkg/test/helpers.go
  vendor/github.com/jonboulle/clockwork/README.md
  vendor/github.com/jonboulle/clockwork/SECURITY.md
  vendor/github.com/jonboulle/clockwork/clockwork.go
  vendor/github.com/jonboulle/clockwork/context.go
  vendor/github.com/jonboulle/clockwork/ticker.go
  vendor/github.com/jonboulle/clockwork/timer.go
  vendor/modules.txt
Due: lint-go, test

Bump github.com/google/go-containerregistry from 0.20.2 to 0.20.3
  go.mod
  go.sum
  vendor/github.com/containerd/stargz-snapshotter/estargz/build.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/testutil.go
  vendor/github.com/docker/docker-credential-helpers/client/client.go
  vendor/github.com/docker/docker-credential-helpers/credentials/error.go
  vendor/github.com/google/go-containerregistry/internal/redact/redact.go
  vendor/github.com/google/go-containerregistry/pkg/authn/keychain.go
  vendor/github.com/google/go-containerregistry/pkg/name/ref.go
  vendor/github.com/google/go-containerregistry/pkg/v1/mutate/mutate.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/referrers.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/transport/bearer.go
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/fse/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/github.com/vbatts/tar-split/archive/tar/reader.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/client.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/common.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/handler.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/request/resp_writer_wrapper.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconv/env.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconv/httpconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconv/util.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconv/v1.20.0.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/start_time_context.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/transport.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/version.go
  vendor/modules.txt
Due: none

Add buffer for pod event
  pkg/pods/pod.go
Due: lint-go, test

New version v0.37.1
  VERSION
Due: none

New version v0.35.3
  VERSION
Due: none

Use go v1.23.4 and bump goreleaser to v2.5.0
  .goreleaser.yml
  go.mod
  tekton/release-pipeline.yml
  tools/go.mod
Due: lint-yaml

Bump github.com/sigstore/sigstore from 1.8.12 to 1.8.15
  go.mod
  go.sum
  vendor/github.com/sigstore/sigstore/pkg/signature/algorithm_registry.go
  vendor/github.com/sigstore/sigstore/pkg/signature/kms/cliplugin/README.md
  vendor/github.com/sigstore/sigstore/pkg/signature/kms/cliplugin/client.go
  vendor/github.com/sigstore/sigstore/pkg/signature/kms/cliplugin/cmd.go
  vendor/github.com/sigstore/sigstore/pkg/signature/kms/cliplugin/common/interface.go
  vendor/github.com/sigstore/sigstore/pkg/signature/kms/cliplugin/common/options.go
  vendor/github.com/sigstore/sigstore/pkg/signature/kms/cliplugin/encoding/options.go
  vendor/github.com/sigstore/sigstore/pkg/signature/kms/cliplugin/internal/signerverifier/interface.go
  vendor/github.com/sigstore/sigstore/pkg/signature/kms/cliplugin/signer.go
  vendor/github.com/sigstore/sigstore/pkg/signature/kms/kms.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/modules.txt
Due: none

New version v0.40.0
  VERSION
Due: none

Update readme for latest release
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

.github/workflows: update codeql job
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

.github/workflows: add slack and retest workflows
  .github/workflows/chatops_retest.yaml
  .github/workflows/slash.yml
Due: lint-yaml

.github/workflows: add a ci workflow…
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
  Makefile
  go.mod
  go.sum
  hack/setup-kind.sh
  hack/verify-codegen.sh
  vendor/modules.txt
Due: lint-yaml

Add flag to prefix log lines with log source (task and step name) by default
  pkg/cmd/pipeline/logs.go
Due: lint-go, test

.github/workflows: add a ci workflow…
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-matrix.yml
  Makefile
  go.mod
  go.sum
  hack/setup-kind.sh
  hack/verify-codegen.sh
  vendor/modules.txt
Due: lint-yaml

.github/workflows: use plumbing workflow definitions.
  .github/workflows/chatops_retest.yaml
  .github/workflows/slash.yml
Due: lint-yaml

updated the docs
  docs/cmd/tkn_pipeline_logs.md
  docs/man/man1/tkn-pipeline-logs.1
Due: none

modified TestPipelinesE2E
  test/e2e/pipeline/pipeline_test.go
Due: lint-go, test

removed the modified TestPipelinesE2E
  test/e2e/pipeline/pipeline_test.go
Due: lint-go, test

Add unit test scripts
  pkg/cmd/pipeline/logs_test.go
Due: lint-go, test

Adjust pipeline logs test to align with updated output format
  test/e2e/pipeline/start_test.go
Due: lint-go, test

Fix e2e test for pipeline logs
  test/e2e/pipeline/start_test.go
Due: lint-go, test
