Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

New version v0.44.0
  VERSION
Due: none

Add CI summary fan-in job to presubmit CI
  .github/workflows/ci.yaml
Due: lint-yaml

ci: enable ci to run for pull requests from all branches
  .github/workflows/ci.yaml
Due: lint-yaml

chore: referencing the setup-kind script in the plumbing repo instead of copying it
  .github/workflows/e2e-matrix.yml
  hack/setup-kind.sh
Due: lint-yaml

fix: CVE-2025-61726 - upgrade go version to >1.25.5
  go.mod
Due: none

fix: CVE-2025-61729 & CVE-2025-61726 - upgrade go version to >1.25.5
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-matrix.yml
  go.mod
  go.sum
  vendor/github.com/sigstore/sigstore/pkg/tuf/client.go
  vendor/modules.txt
Due: lint-yaml

update goreleaser version to compatible version
  tekton/release-pipeline.yml
Due: lint-yaml

Update CLI docs for v0.44.0 release
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Move piyush-garg to alumni
  OWNERS
Due: none

Nominate divyansh42 as cli approver
  OWNERS
Due: none

fix: CI and e2e test failures
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-matrix.yml
  Makefile
  hack/update-deps.sh
  test/e2e-tests-kind-prow.env
  test/e2e-tests.sh
  test/e2e/pipeline/pipeline_test.go
  test/e2e/pipeline/start_test.go
  vendor/github.com/alibabacloud-go/cr-20160607/LICENSE
  vendor/github.com/alibabacloud-go/cr-20160607/client/LICENSE
Due: lint-go, test, lint-yaml

fix race condition during e2e test setup
  test/e2e/pipeline/start_test.go
Due: lint-go, test

Fix `fialed to watch` context canceled error when streaming logs
  pkg/pipelinerun/tracker.go
  pkg/pipelinerun/tracker_test.go
  pkg/pods/pod.go
  pkg/pods/pod_test.go
Due: lint-go, test

update the release script to fetch tasks from artifacthub
  tekton/release.sh
Due: none

Switch hub dependency org to openshift-pipelines
  go.mod
  go.sum
  vendor/github.com/Masterminds/semver/v3/.gitignore
  vendor/github.com/Masterminds/semver/v3/.golangci.yml
  vendor/github.com/Masterminds/semver/v3/CHANGELOG.md
  vendor/github.com/Masterminds/semver/v3/LICENSE.txt
  vendor/github.com/Masterminds/semver/v3/Makefile
  vendor/github.com/Masterminds/semver/v3/README.md
  vendor/github.com/Masterminds/semver/v3/SECURITY.md
  vendor/github.com/Masterminds/semver/v3/collection.go
  vendor/github.com/Masterminds/semver/v3/constraints.go
  vendor/github.com/Masterminds/semver/v3/doc.go
  vendor/github.com/Masterminds/semver/v3/version.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/formatter/field.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/hub/get_resource.go
  vendor/github.com/tektoncd/hub/api/pkg/parser/catalog.go
  vendor/github.com/tektoncd/hub/api/v1/gen/catalog/client.go
  vendor/github.com/tektoncd/hub/api/v1/gen/catalog/endpoints.go
  vendor/github.com/tektoncd/hub/api/v1/gen/catalog/service.go
  vendor/github.com/tektoncd/hub/api/v1/gen/catalog/views/view.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/cli.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/client.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/encode_decode.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/paths.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/types.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/cli.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/client.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/encode_decode.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/paths.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/types.go
  vendor/github.com/tektoncd/hub/api/v1/gen/resource/client.go
  vendor/github.com/tektoncd/hub/api/v1/gen/resource/endpoints.go
  vendor/github.com/tektoncd/hub/api/v1/gen/resource/service.go
  vendor/github.com/tektoncd/hub/api/v1/gen/resource/views/view.go
  vendor/modules.txt
Due: none

Makefile: fix lint-go with workflow version and project Go toolchain
  Makefile
  cmd/tkn/main.go
  pkg/cmd/version/version.go
  pkg/cmd/version/version_test.go
  pkg/log/log.go
  pkg/log/writer.go
  pkg/plugins/plugins.go
  pkg/version/version.go
  pkg/version/version_test.go
Due: lint-go, test

New version v0.43.1
  VERSION
Due: none

feat: add cherry-pick command workflow
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

Change all occurences of GCS buckets with OCI buckets
  test/e2e-common.sh
Due: none

Remove all the occurences of chains subcommand
  docs/cmd/tkn_chain.md
  docs/cmd/tkn_chain_payload.md
  docs/cmd/tkn_chain_signature.md
  pkg/cmd/chain/chain.go
  pkg/cmd/chain/payload.go
  pkg/cmd/chain/signature.go
  pkg/cmd/root.go
  pkg/cmd/testdata/TestPluginList.golden
Due: lint-go, test

New version v0.37.4
  VERSION
Due: none

New version v0.44.1
  VERSION
Due: none
