Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

Strip Go symbol table from release binaries
  .goreleaser.yml
Due: lint-yaml

Update tekton hub to 1.24.0
  go.mod
  go.sum
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/check_upgrade/check_uprade.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/downgrade/downgrade.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/get/get.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/info/info.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/install/install.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/reinstall/reinstall.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/root.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/search/search.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/upgrade/upgrade.go
  vendor/modules.txt
Due: none

New version v0.45.0
  VERSION
Due: none

fix(cve): CVE-2026-34986 - go-jose/go-jose/v4
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Due: none

doc: update docs for v0.45.0 release
  README.md
  releases.md
  tekton/release-pipeline.yml
Due: lint-yaml

fix(cve): CVE-2026-32282 - Go stdlib os.Root.Chmod symlink traversal
  go.mod
  vendor/github.com/alibabacloud-go/cr-20160607/LICENSE
  vendor/github.com/alibabacloud-go/cr-20160607/client/LICENSE
Due: none

fix(cve): CVE-2026-32282, CVE-2026-32280, CVE-2026-32281 - update Go 1.25.8 to 1.25.9
  go.mod
Due: none

fix(cve): CVE-2026-40938, CVE-2026-40161 - bump tektoncd/pipeline to v1.3.4
  go.mod
  go.sum
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/pod/template.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/container_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/pipelinerun_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/taskrun_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/task_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/taskrun_validation.go
  vendor/github.com/tektoncd/pipeline/test/e2e-common.sh
  vendor/github.com/tektoncd/pipeline/test/e2e-tests-kind-alpha.env
  vendor/github.com/tektoncd/pipeline/test/e2e-tests-kind-beta.env
  vendor/github.com/tektoncd/pipeline/test/e2e-tests-kind-stable.env
  vendor/github.com/tektoncd/pipeline/test/e2e-tests.sh
  vendor/github.com/tektoncd/pipeline/test/multiarch_utils.go
  vendor/github.com/tektoncd/pipeline/test/presubmit-tests.sh
  vendor/modules.txt
Due: none

fix(cve): CVE-2026-40938, CVE-2026-40161 - github.com/tektoncd/pipeline
  go.mod
  go.sum
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/container_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/task_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/remoteresolution/resolver/framework/cache/annotated_resource.go
  vendor/github.com/tektoncd/pipeline/pkg/remoteresolution/resolver/framework/cache/cache.go
  vendor/github.com/tektoncd/pipeline/pkg/remoteresolution/resolver/framework/cache/clock.go
  vendor/github.com/tektoncd/pipeline/pkg/remoteresolution/resolver/framework/cache/configstore.go
  vendor/github.com/tektoncd/pipeline/pkg/remoteresolution/resolver/framework/cache/operations.go
  vendor/github.com/tektoncd/pipeline/test/README.md
  vendor/github.com/tektoncd/pipeline/test/multiarch_utils.go
  vendor/github.com/tektoncd/pipeline/test/path_filtering.go
  vendor/github.com/tektoncd/pipeline/test/secret.go
  vendor/github.com/tektoncd/pipeline/test/util.go
  vendor/modules.txt
Due: none

Fix logs and describe for Pipelines-in-Pipelines
  pkg/cmd/pipelinerun/describe_v1_test.go
  pkg/cmd/pipelinerun/logs_test.go
  pkg/cmd/pipelinerun/testdata/TestPipelineRunDescribe_PinP.golden
  pkg/log/pipeline_reader.go
  pkg/pipelinerun/description.go
  pkg/pipelinerun/tracker.go
  pkg/pipelinerun/tracker_test.go
Due: lint-go, test

Add CI summary job to the github workflows
  .github/workflows/ci.yaml
Due: lint-yaml

Bump pipelines to 1.6.1 to fix CVE CVE-2026-33211
  go.mod
  go.sum
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/pod/template.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1beta1/swagger.json
  vendor/github.com/tektoncd/pipeline/test/e2e-tests.sh
  vendor/github.com/tektoncd/pipeline/test/multiarch_utils.go
  vendor/modules.txt
Due: none

New version v0.43.2
  VERSION
Due: none

Pin Tekton Pipelines to v1.12.0 in e2e tests
  test/e2e-common.sh
Due: none

Add skill files to prepare cli repo fo agentic workflows
  .agents/skills/commit-message/SKILL.md
  .agents/skills/commit-message/references/commit-types.md
  .agents/skills/commit-message/references/trailer-detection.md
  .agents/skills/release-notes/SKILL.md
  .agents/skills/release-notes/references/release-notes-format.md
  .claude/.gitignore
  .claude/skills
  .cursor/skills
  AGENTS.md
  CLAUDE.md
  Makefile
Due: none

Path conditions:
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test: any of: \.go$, but not: (^vendor|.*golden$)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
