Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

Bump go version to 1.22
  go.mod
  tekton/release-pipeline.yml
  tools/go.mod
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_intermediate_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_leaf_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_root_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_intermediate_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_leaf_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_root_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_key.pem
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_key.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/client_key.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/server_key.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/client_key.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/server_key.pem
  vendor/github.com/google/s2a-go/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/testdata/client_key.pem
  vendor/github.com/google/s2a-go/testdata/mds_client_cert.pem
  vendor/github.com/google/s2a-go/testdata/mds_client_key.pem
  vendor/github.com/google/s2a-go/testdata/mds_root_cert.pem
  vendor/github.com/google/s2a-go/testdata/mds_server_cert.pem
  vendor/github.com/google/s2a-go/testdata/mds_server_key.pem
  vendor/github.com/google/s2a-go/testdata/self_signed_cert.pem
  vendor/github.com/google/s2a-go/testdata/self_signed_key.pem
  vendor/github.com/google/s2a-go/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/testdata/server_key.pem
Due: lint-yaml

Bump goreleaser for latest v1.25.1
  .goreleaser.yml
  tekton/release-pipeline.yml
Due: lint-yaml

New version v0.37.0
  VERSION
Due: none

Update docs for v0.37.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Fix links in doc to fix pre-commit
  RELEASE_PROCESS.md
  choco/README.md
  releases.md
Due: none

Add gotoolchain in go.mod
  go.mod
Due: none

Hijack alibabacloud-go/cr-20160607 with v2
  go.mod
  go.sum
  hack/update-deps.sh
  vendor/github.com/alibabacloud-go/cr-20160607/LICENSE
  vendor/github.com/alibabacloud-go/cr-20160607/client/client.go
  vendor/github.com/alibabacloud-go/darabonba-openapi/v2/LICENSE
  vendor/github.com/alibabacloud-go/darabonba-openapi/v2/client/client.go
  vendor/github.com/alibabacloud-go/tea-utils/v2/LICENSE
  vendor/github.com/alibabacloud-go/tea-utils/v2/service/service.go
  vendor/github.com/alibabacloud-go/tea-utils/v2/service/util.go
  vendor/modules.txt
Due: none

Bump license dep
  hack/update-deps.sh
  test/presubmit-tests.sh
Due: none

Try to fix alibabacloud-go/cr-20160607 license
  go.mod
  go.sum
  vendor/github.com/alibabacloud-go/cr-20160607/LICENSE
  vendor/modules.txt
Due: none

Fix tests based on pipeline 0.62.0 spec
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--param_-f.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--timeout_specified.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--use-param-defaults_and_no_specified_params.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--use-param-defaults_and_specified_params.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_-f.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_PodTemplate.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_only_--dry-run_specified.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_output=json.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_output=json_-f.golden
Due: none

Bump go version to 1.22.5 as min rquirement
  go.mod
Due: none

Resolved the logs issue, unit tests pending
  docs/cmd/tkn_pipeline_logs.md
  docs/man/man1/tkn-pipeline-logs.1
  pkg/cmd/pipeline/logs.go
  pkg/cmd/pipeline/logs_test.go
Due: lint-go, test

Re-use printer for multiple elements
  pkg/actions/get.go
  pkg/actions/list.go
  pkg/cmd/bundle/list.go
  pkg/cmd/bundle/list_test.go
  pkg/cmd/clustertask/describe.go
  pkg/cmd/clustertask/list.go
  pkg/cmd/clustertriggerbinding/describe.go
  pkg/cmd/clustertriggerbinding/list.go
  pkg/cmd/customrun/list.go
  pkg/cmd/eventlistener/describe.go
  pkg/cmd/eventlistener/list.go
  pkg/cmd/pipeline/describe.go
  pkg/cmd/pipeline/list.go
  pkg/cmd/pipelinerun/describe.go
  pkg/cmd/pipelinerun/list.go
  pkg/cmd/task/describe.go
  pkg/cmd/task/list.go
  pkg/cmd/taskrun/describe.go
  pkg/cmd/taskrun/list.go
  pkg/cmd/triggerbinding/describe.go
  pkg/cmd/triggerbinding/list.go
  pkg/cmd/triggertemplate/describe.go
  pkg/cmd/triggertemplate/list.go
  pkg/printer/printer.go
Due: lint-go, test

Deleting a customrun on the basis of name
  docs/cmd/tkn_customrun.md
  docs/cmd/tkn_customrun_delete.md
  docs/man/man1/tkn-customrun-delete.1
  docs/man/man1/tkn-customrun.1
  pkg/cmd/customrun/customrun.go
  pkg/cmd/customrun/delete.go
  pkg/cmd/customrun/delete_test.go
Due: lint-go, test

New Dynamic client created
  pipeline
  pkg/cmd/pipeline/logs.go
  pkg/cmd/pipeline/logs_test.go
Due: lint-go, test

Bump to golangci-lint v1.60.1
  Makefile
  pkg/formatted/color.go
  pkg/log/pipeline_reader.go
  pkg/params/validation.go
  pkg/pods/pod.go
  pkg/workspaces/workspaces_test.go
  tekton/release-pipeline.yml
  tools/go.mod
Due: lint-go, test, lint-yaml

New version v0.38.0
  VERSION
Due: none

Move to goreleaser v2
  .goreleaser.yml
  tekton/release-pipeline.yml
Due: lint-yaml

Update docs for 0.38.0 release
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Remove hardcoded golangci-lint and go version
  Makefile
  tekton/release-pipeline.yml
  tekton/release.sh
Due: lint-yaml

Fix ubuntu launchpad build
  tekton/debbuild/control/control
  tekton/debbuild/control/rules
Due: none

Fix golint error
  pkg/flags/flags.go
  pkg/formatted/color.go
Due: lint-go, test

Refactored delete.go file for customrun
  pkg/cmd/customrun/delete.go
Due: lint-go, test

Bump tektoncd/pipeline to v0.62.3
  go.mod
  go.sum
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--param_-f.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--timeout_specified.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--use-param-defaults_and_no_specified_params.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--use-param-defaults_and_specified_params.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_-f.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_PodTemplate.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_only_--dry-run_specified.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_output=json.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_output=json_-f.golden
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/artifact_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/taskrun_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

Path conditions:
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test: any of: \.go$, but not: (^vendor|.*golden$)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
