Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

New version v0.41.0
  VERSION
Due: none

Update CLI docs for tkn v0.41.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  release.sh
  releases.md
Due: none

Feat: Add product-version in tkn-version cmd
  pkg/cmd/version/version.go
  pkg/version/version.go
Due: lint-go, test

Add tests for product version
  pkg/version/version_test.go
Due: lint-go, test

Update CLI docs for tkn v0.41.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Deprecate the chain command
  docs/cmd/tkn.md
  docs/man/man1/tkn.1
  pkg/cmd/chain/chain.go
  pkg/cmd/chain/payload.go
  pkg/cmd/chain/signature.go
Due: lint-go, test

Add flag to prefix log lines with log source (task and step name) by default
  pkg/cmd/pipeline/logs.go
Due: lint-go, test

updated the docs
  docs/cmd/tkn_pipeline_logs.md
  docs/man/man1/tkn-pipeline-logs.1
Due: none

Adjust pipeline logs test to align with updated output format
  test/e2e/pipeline/start_test.go
Due: lint-go, test

Add unit test scripts
  pkg/cmd/pipeline/logs_test.go
Due: lint-go, test

fix: update Pending color of PipelineRunPending
  pkg/cmd/pipelinerun/delete_test.go
  pkg/formatted/k8s.go
  pkg/formatted/k8s_test.go
Due: lint-go, test

Fix deadlock issue when following logs
  pkg/pods/pod.go
Due: lint-go, test

Test commit
  pkg/pipelinerun/tracker.go
Due: lint-go, test

cleanup: update golangci-lint to v2
  .golangci.yml
  Makefile
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: lint-go, test, lint-yaml

New version v0.41.1
  VERSION
Due: none

Bump go version to 1.24.0
  go.mod
  tools/go.mod
Due: none

Test commit
  .golangci.yml
  go.mod
Due: lint-yaml

Add a new subcommand rerun under tkn pipelinerun to rerun a pipelinerun
  pkg/cmd/pipelinerun/pipelinerun.go
  pkg/cmd/pipelinerun/rerun.go
  pkg/cmd/pipelinerun/rerun_test.go
Due: lint-go, test

.github/workflows: update codeql job
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

.github/workflows: add slack and retest workflows
  .github/workflows/chatops_retest.yaml
  .github/workflows/slash.yml
Due: lint-yaml

.github/workflows: add a ci workflow…
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-matrix.yml
  Makefile
  hack/setup-kind.sh
  hack/verify-codegen.sh
Due: lint-yaml

.github/workflows: use plumbing workflow definitions.
  .github/workflows/chatops_retest.yaml
  .github/workflows/slash.yml
Due: lint-yaml

Test commit
  .golangci.yml
Due: lint-yaml

Fix golang CI lint failures
  .github/workflows/ci.yaml
  .golangci.yml
Due: lint-yaml
