Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

docs: add JSON/YAML output examples to describe command help
  docs/cmd/tkn_clustertriggerbinding_describe.md
  docs/cmd/tkn_customrun_describe.md
  docs/cmd/tkn_eventlistener_describe.md
  docs/cmd/tkn_pipeline_describe.md
  docs/cmd/tkn_pipelinerun_describe.md
  docs/cmd/tkn_task_describe.md
  docs/cmd/tkn_taskrun_describe.md
  docs/cmd/tkn_triggerbinding_describe.md
  docs/cmd/tkn_triggertemplate_describe.md
  docs/man/man1/tkn-clustertriggerbinding-describe.1
  docs/man/man1/tkn-customrun-describe.1
  docs/man/man1/tkn-eventlistener-describe.1
  docs/man/man1/tkn-pipeline-describe.1
  docs/man/man1/tkn-pipelinerun-describe.1
  docs/man/man1/tkn-task-describe.1
  docs/man/man1/tkn-taskrun-describe.1
  docs/man/man1/tkn-triggerbinding-describe.1
  docs/man/man1/tkn-triggertemplate-describe.1
  pkg/cmd/clustertriggerbinding/describe.go
  pkg/cmd/customrun/describe.go
  pkg/cmd/eventlistener/describe.go
  pkg/cmd/pipeline/describe.go
  pkg/cmd/pipelinerun/describe.go
  pkg/cmd/task/describe.go
  pkg/cmd/taskrun/describe.go
  pkg/cmd/triggerbinding/describe.go
  pkg/cmd/triggertemplate/describe.go
Due: lint-go, test

feat: add JSON output to taskrun delete
  docs/cmd/tkn_taskrun_delete.md
  docs/man/man1/tkn-taskrun-delete.1
  pkg/cmd/taskrun/delete.go
  pkg/cmd/taskrun/delete_test.go
  pkg/deleter/deleter.go
  pkg/deleter/deleter_test.go
Due: lint-go, test

New version v0.46.1
  VERSION
Due: none

bump version to latest patch version
  VERSION
Due: none

fix(trustedresources): replace an old signature
  pkg/trustedresources/annotation.go
  pkg/trustedresources/annotation_test.go
  pkg/trustedresources/sign.go
  pkg/trustedresources/sign_test.go
Due: lint-go, test

feat: Support XDG base directory for bundle cache
  docs/cmd/tkn_bundle_list.md
  docs/man/man1/tkn-bundle-list.1
  pkg/bundle/cache_dir.go
  pkg/bundle/cache_dir_test.go
  pkg/bundle/flags.go
  pkg/bundle/remote.go
  pkg/bundle/remote_test.go
  pkg/cmd/bundle/list.go
  pkg/cmd/bundle/list_test.go
Due: lint-go, test

fix: use latest Tekton releases and fix ConfigMap timing
  test/e2e-common.sh
Due: none

feat: added support for --output json and --output yaml for cancel command for pipelinerun and taskrun
  docs/cmd/tkn_pipelinerun_cancel.md
  docs/cmd/tkn_taskrun_cancel.md
  docs/man/man1/tkn-pipelinerun-cancel.1
  docs/man/man1/tkn-taskrun-cancel.1
  pkg/cmd/pipelinerun/cancel.go
  pkg/cmd/pipelinerun/cancel_test.go
  pkg/cmd/taskrun/cancel.go
  pkg/cmd/taskrun/cancel_test.go
  pkg/formatted/output.go
  pkg/formatted/output_test.go
Due: lint-go, test

feat: add json and yaml output
  docs/cmd/tkn_version.md
  docs/man/man1/tkn-version.1
  pkg/cmd/version/version.go
  pkg/cmd/version/version_test.go
Due: lint-go, test

fix(trustedresources): reject unknown fields and anchors
  pkg/trustedresources/annotation.go
  pkg/trustedresources/annotation_test.go
  pkg/trustedresources/sign.go
  pkg/trustedresources/sign_test.go
Due: lint-go, test

fix(hub): restrict tkn hub install resources fetching
  pkg/cmd/hub/hub/hub.go
  pkg/cmd/hub/hub/hub_test.go
  pkg/cmd/hub/installer/action.go
  pkg/cmd/hub/installer/action_test.go
  pkg/cmd/hub/test/config.go
Due: lint-go, test

chore: mark release-v0.42.x as EOL
  .github/dependabot.yml
  releases.md
Due: lint-yaml

feat: add structured JSON/YAML output for delete command
  docs/cmd/tkn_clustertriggerbinding_delete.md
  docs/cmd/tkn_customrun_delete.md
  docs/cmd/tkn_eventlistener_delete.md
  docs/cmd/tkn_pipeline_delete.md
  docs/cmd/tkn_pipelinerun_delete.md
  docs/cmd/tkn_task_delete.md
  docs/cmd/tkn_triggerbinding_delete.md
  docs/cmd/tkn_triggertemplate_delete.md
  docs/man/man1/tkn-clustertriggerbinding-delete.1
  docs/man/man1/tkn-customrun-delete.1
  docs/man/man1/tkn-eventlistener-delete.1
  docs/man/man1/tkn-pipeline-delete.1
  docs/man/man1/tkn-pipelinerun-delete.1
  docs/man/man1/tkn-task-delete.1
  docs/man/man1/tkn-triggerbinding-delete.1
  docs/man/man1/tkn-triggertemplate-delete.1
  pkg/cmd/clustertriggerbinding/delete.go
  pkg/cmd/clustertriggerbinding/delete_test.go
  pkg/cmd/customrun/delete.go
  pkg/cmd/customrun/delete_test.go
  pkg/cmd/eventlistener/delete.go
  pkg/cmd/eventlistener/delete_test.go
  pkg/cmd/pipeline/delete.go
  pkg/cmd/pipeline/delete_test.go
  pkg/cmd/pipelinerun/delete.go
  pkg/cmd/pipelinerun/delete_test.go
  pkg/cmd/task/delete.go
  pkg/cmd/task/delete_test.go
  pkg/cmd/triggerbinding/delete.go
  pkg/cmd/triggerbinding/delete_test.go
  pkg/cmd/triggertemplate/delete.go
  pkg/cmd/triggertemplate/delete_test.go
  pkg/deleter/deleter.go
  pkg/deleter/deleter_test.go
  pkg/formatted/output.go
  pkg/formatted/output_test.go
Due: lint-go, test

fix: update google.golang.org/grpc to v1.82.2 — CVE-2026-84445
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/xds/server/routing.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

fix: update google.golang.org/grpc to v1.83.1 — CVE-2026-84304
  go.mod
  go.sum
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_noplan9.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_plan9.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/callback_serializer.go
  vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_pool.go
  vendor/google.golang.org/grpc/mem/buffers.go
  vendor/google.golang.org/grpc/stream.go
  vendor/modules.txt
Due: none

feat: support structured JSON/YAML output for bulk delete operations
  docs/cmd/tkn_clustertriggerbinding_delete.md
  docs/cmd/tkn_eventlistener_delete.md
  docs/cmd/tkn_pipeline_delete.md
  docs/cmd/tkn_pipelinerun_delete.md
  docs/cmd/tkn_task_delete.md
  docs/cmd/tkn_triggerbinding_delete.md
  docs/cmd/tkn_triggertemplate_delete.md
  docs/man/man1/tkn-clustertriggerbinding-delete.1
  docs/man/man1/tkn-eventlistener-delete.1
  docs/man/man1/tkn-pipeline-delete.1
  docs/man/man1/tkn-pipelinerun-delete.1
  docs/man/man1/tkn-task-delete.1
  docs/man/man1/tkn-triggerbinding-delete.1
  docs/man/man1/tkn-triggertemplate-delete.1
  pkg/cmd/clustertriggerbinding/delete.go
  pkg/cmd/clustertriggerbinding/delete_test.go
  pkg/cmd/eventlistener/delete.go
  pkg/cmd/eventlistener/delete_test.go
  pkg/cmd/pipeline/delete.go
  pkg/cmd/pipeline/delete_test.go
  pkg/cmd/pipelinerun/delete.go
  pkg/cmd/pipelinerun/delete_test.go
  pkg/cmd/task/delete.go
  pkg/cmd/task/delete_test.go
  pkg/cmd/triggerbinding/delete.go
  pkg/cmd/triggerbinding/delete_test.go
  pkg/cmd/triggertemplate/delete.go
  pkg/cmd/triggertemplate/delete_test.go
Due: lint-go, test

fix(release): fix the release script to find the correct last tag
  tekton/release.sh
Due: none
