Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

Bump tektoncd/pipeline to v0.62.3
  go.mod
  go.sum
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--param_-f.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--timeout_specified.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--use-param-defaults_and_no_specified_params.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--use-param-defaults_and_specified_params.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_-f.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_PodTemplate.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_only_--dry-run_specified.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_output=json.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_output=json_-f.golden
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/artifact_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/taskrun_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

Bump tektoncd/pipeline to v0.62.3
  go.mod
  go.sum
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--param_-f.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--timeout_specified.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--use-param-defaults_and_no_specified_params.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_--use-param-defaults_and_specified_params.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_-f.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_PodTemplate.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_only_--dry-run_specified.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_output=json.golden
  pkg/cmd/task/testdata/TestTaskStart_ExecuteCommand-Dry_Run_with_output=json_-f.golden
  tekton/release.sh
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/artifact_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/openapi_generated.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/swagger.json
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/taskrun_types.go
  vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

New version v0.38.1
  VERSION
Due: none

Update docs for tkn 0.38.1
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Fix hard link for Mac
  README.md
  docs/README.md
Due: none

fix panic when trying to read pod logs when pod is already deleted
  pkg/log/task_reader.go
Due: lint-go, test

feat(cli): add shorthand -a for --all flags
  docs/cmd/tkn_clustertriggerbinding_delete.md
  docs/cmd/tkn_eventlistener_delete.md
  docs/cmd/tkn_pipeline_delete.md
  docs/cmd/tkn_pipelinerun_delete.md
  docs/cmd/tkn_task_delete.md
  docs/cmd/tkn_taskrun_delete.md
  docs/cmd/tkn_triggerbinding_delete.md
  docs/cmd/tkn_triggertemplate_delete.md
  docs/man/man1/tkn-clustertriggerbinding-delete.1
  docs/man/man1/tkn-eventlistener-delete.1
  docs/man/man1/tkn-pipeline-delete.1
  docs/man/man1/tkn-pipelinerun-delete.1
  docs/man/man1/tkn-task-delete.1
  docs/man/man1/tkn-taskrun-delete.1
  docs/man/man1/tkn-triggerbinding-delete.1
  docs/man/man1/tkn-triggertemplate-delete.1
  pkg/cmd/clustertriggerbinding/delete.go
  pkg/cmd/eventlistener/delete.go
  pkg/cmd/pipeline/delete.go
  pkg/cmd/pipelinerun/delete.go
  pkg/cmd/task/delete.go
  pkg/cmd/taskrun/delete.go
  pkg/cmd/triggerbinding/delete.go
  pkg/cmd/triggertemplate/delete.go
Due: lint-go, test

Set status to succeeded when the reason is Completed
  pkg/formatted/k8s.go
  pkg/formatted/k8s_test.go
Due: lint-go, test

refactor RemoveFieldForExport function
  pkg/export/export.go
  pkg/export/export_test.go
Due: lint-go, test

Bump go to 1.22.8 and remove toolchain
  go.mod
Due: none

Reword variable name to fix lint issues
  pkg/suggestion/suggest.go
Due: lint-go, test

Use io.ReadFull to read the bundle content
  pkg/bundle/reader.go
Due: lint-go, test

New version v0.39.0
  VERSION
Due: none

Do not print twice Cancelled when listing
  pkg/formatted/k8s.go
  pkg/formatted/k8s_test.go
Due: lint-go, test

Add pratap0007 and divyansh42 as reviewer
  OWNERS
Due: none

Fix debbuild
  tekton/debbuild/control/control
Due: none

Update choco and release docs to v0.39.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Update golang.org/x/net to 0.33.0
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/modules.txt
Due: none

Add long flag --display-name to display the log of pipelinerun
  docs/cmd/tkn_pipelinerun_logs.md
  docs/man/man1/tkn-pipelinerun-logs.1
  pkg/cmd/pipelinerun/logs.go
  pkg/log/log.go
  pkg/log/pipeline_reader.go
  pkg/log/reader.go
  pkg/log/task_reader.go
  pkg/log/writer.go
  pkg/options/logs.go
  pkg/taskrun/taskrun.go
Due: lint-go, test

feat(rpmbuild): update bash-completion handling
  tekton/rpmbuild/tekton.spec
Due: none

Add buffer for pod event
  pkg/pods/pod.go
Due: lint-go, test

Fix e2e test for eventlistener
  test/e2e/eventlistener/eventListener_test.go
Due: lint-go, test

Remove create clusterrole in triggers test
  test/e2e/eventlistener/eventListener_test.go
Due: lint-go, test

Fix eventlistener permissions and tests
  test/e2e/eventlistener/eventListener_test.go
  test/resources/eventlistener/eventlistener_log.yaml
  test/resources/eventlistener/eventlistener_v1beta1_log.yaml
Due: lint-go, test, lint-yaml
