Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

feat: add JSON output to taskrun delete
  pkg/cmd/taskrun/delete.go
  pkg/cmd/taskrun/delete_test.go
  pkg/deleter/deleter.go
  pkg/deleter/deleter_test.go
Due: lint-go, test

feat: add --log-failed flag to pipelinerun logs command
  docs/cmd/tkn_pipelinerun_logs.md
  docs/man/man1/tkn-pipelinerun-logs.1
  pkg/cmd/pipelinerun/logs.go
  pkg/cmd/pipelinerun/logs_test.go
  pkg/log/pipeline_reader.go
  pkg/log/reader.go
  pkg/options/logs.go
  pkg/taskrun/taskrun.go
Due: lint-go, test

New version v0.46.0
  VERSION
Due: none

fix(release): improve previous tag detection and use stable goreleaser image
  tekton/release-pipeline.yml
  tekton/release.sh
Due: lint-yaml

fix: move applyJSONSpec call after input collection
  pkg/cmd/pipeline/start.go
  pkg/cmd/task/start.go
Due: lint-go, test

feat: add --json flag to pipeline and task start commands
  pkg/cmd/pipeline/start.go
  pkg/cmd/pipeline/start_test.go
  pkg/cmd/task/start.go
  pkg/cmd/task/start_test.go
Due: lint-go, test

docs: add --json flag documentation for pipeline and task start commands
  docs/cmd/tkn_pipeline_start.md
  docs/cmd/tkn_task_start.md
  docs/man/man1/tkn-pipeline-start.1
  docs/man/man1/tkn-task-start.1
Due: none

feat: add ndjson output format with field selection to list commands
  pkg/cmd/clustertriggerbinding/list.go
  pkg/cmd/customrun/list.go
  pkg/cmd/eventlistener/list.go
  pkg/cmd/pipeline/list.go
  pkg/cmd/pipelinerun/list.go
  pkg/cmd/task/list.go
  pkg/cmd/taskrun/list.go
  pkg/cmd/triggerbinding/list.go
  pkg/cmd/triggertemplate/list.go
  pkg/formatted/ndjson.go
  pkg/formatted/ndjson_test.go
Due: lint-go, test

fix: improve error messages and ndjson items validation
  pkg/cmd/pipeline/list.go
  pkg/cmd/task/list.go
  pkg/formatted/ndjson.go
Due: lint-go, test

feat: add structured error output and dynamic exit codes
  cmd/tkn/main.go
  pkg/actions/delete.go
  pkg/actions/get.go
  pkg/actions/list.go
  pkg/actions/patch.go
  pkg/cmd/pipelinerun/logs.go
  pkg/cmd/pipelinerun/logs_test.go
  pkg/cmd/root.go
Due: lint-go, test

feat : add exit code package with typed errors and k8s mapping
  pkg/exitcode/exitcode.go
  pkg/exitcode/exitcode_test.go
Due: lint-go, test

chore: add exit codes reference documentation
  docs/exit-codes.md
Due: none

fix: sort exitcode import to correct alphabetical position
  pkg/cmd/root.go
Due: lint-go, test

fix(cve): GHSA-hrxh-6v49-42gf - update google.golang.org/grpc to v1.82.1
  go.mod
  go.sum
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/encoding/encoding.go
  vendor/google.golang.org/grpc/encoding/gzip/gzip.go
  vendor/google.golang.org/grpc/experimental/balancer/weight/weight.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcutil/encode_duration.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/stats/labels.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/internal/internal.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

fix(security): bump Go stdlib go1.26.5 → go1.26.6
  go.mod
  go.sum
Due: none

fix(security): bump Go stdlib go1.25.12 → go1.25.13
  go.mod
Due: none

Use dedicated release ServiceAccount in PAC release pipeline
  .tekton/release.yaml
Due: lint-yaml

feat: automate releases with Pipelines-as-Code
  .github/workflows/patch-release.yaml
  .tekton/release.yaml
Due: lint-yaml

Align PAC release with pipeline/operator conventions
  .github/workflows/patch-release.yaml
  .tekton/release-patch.yaml
  tekton/release-pipeline.yaml
  tekton/release.sh
  tekton/rpmbuild/README.md
Due: lint-yaml

chore(deps): add release-v0.46.x to dependabot config
  .github/dependabot.config.yml
  .github/dependabot.yml
  releases.md
Due: lint-yaml

docs: add agent context for tkn CLI
  CONTEXT.md
Due: none

fix(cve): GHSA-gcjh-h69q-9w9g - update cel-go to v0.29.0
  go.mod
  go.sum
  vendor/github.com/google/cel-go/cel/env.go
  vendor/github.com/google/cel-go/cel/folding.go
  vendor/github.com/google/cel-go/cel/library.go
  vendor/github.com/google/cel-go/cel/options.go
  vendor/github.com/google/cel-go/cel/program.go
  vendor/github.com/google/cel-go/cel/prompt.go
  vendor/github.com/google/cel-go/checker/cost.go
  vendor/github.com/google/cel-go/common/containers/container.go
  vendor/github.com/google/cel-go/common/functions/functions.go
  vendor/github.com/google/cel-go/common/runes/buffer.go
  vendor/github.com/google/cel-go/common/source.go
  vendor/github.com/google/cel-go/common/types/timestamp.go
  vendor/github.com/google/cel-go/common/types/unknown.go
  vendor/github.com/google/cel-go/ext/BUILD.bazel
  vendor/github.com/google/cel-go/ext/README.md
  vendor/github.com/google/cel-go/ext/bindings.go
  vendor/github.com/google/cel-go/ext/encoders.go
  vendor/github.com/google/cel-go/ext/lists.go
  vendor/github.com/google/cel-go/ext/network.go
  vendor/github.com/google/cel-go/ext/strings.go
  vendor/github.com/google/cel-go/interpreter/BUILD.bazel
  vendor/github.com/google/cel-go/interpreter/activation.go
  vendor/github.com/google/cel-go/interpreter/attributes.go
  vendor/github.com/google/cel-go/interpreter/decorators.go
  vendor/github.com/google/cel-go/interpreter/frame.go
  vendor/github.com/google/cel-go/interpreter/interpretable.go
  vendor/github.com/google/cel-go/interpreter/interpreter.go
  vendor/github.com/google/cel-go/interpreter/planner.go
  vendor/github.com/google/cel-go/interpreter/runtimecost.go
  vendor/github.com/google/cel-go/parser/unparser.go
  vendor/modules.txt
Due: none

Path conditions:
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test: any of: \.go$, but not: (^vendor|.*golden$)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
