Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

Bump choco and readme to v0.33.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Fix the release script
  tekton/release.sh
Due: none

update make lint to run goimports and download it to the correct place
  Makefile
Due: none

update the `task start` cmd to also allow an oci bundle with a task name to be created from the cli
  docs/cmd/tkn_task_start.md
  docs/man/man1/tkn-task-start.1
  pkg/cmd/task/start.go
  pkg/cmd/task/start_v1_test.go
Due: lint-go, test

Add a pre-commit setup to the repository.
  .pre-commit-config.yaml
Due: lint-yaml

Adds hub version in output of `tkn version` command
  pkg/cmd/version/testdata/TestGetVersions-deployment_with_pipeline,_chains,_triggers,_dashboard,_hub_and_operator_installed.golden
  pkg/cmd/version/version.go
  pkg/cmd/version/version_test.go
  pkg/version/version.go
Due: lint-go, test

Bump golang and goreleaser versions
  tekton/release-pipeline.yml
Due: lint-yaml

New version v0.34.0
  VERSION
Due: none

Bump tkn to latest version v0.34.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
  tekton/release-pipeline.yml
Due: lint-yaml

feat: add CustomRun commad with list
  docs/cmd/tkn.md
  docs/cmd/tkn_customrun.md
  docs/cmd/tkn_customrun_list.md
  docs/man/man1/tkn-customrun-list.1
  docs/man/man1/tkn-customrun.1
  docs/man/man1/tkn.1
  pkg/cmd/customrun/customrun.go
  pkg/cmd/customrun/list.go
  pkg/cmd/customrun/list_test.go
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-all_in_namespace.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-by_output_as_name.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-empty_list.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-error_from_invalid_namespace.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-filter_customruns_by_label.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-filter_customruns_by_label_with_in_query.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-limit_customruns_greater_than_maximum_case.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-limit_customruns_negative_case.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-limit_customruns_returned_to_1.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-limit_customruns_with_output_flag_set.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_by_template.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_customruns_in_all_namespaces.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_customruns_in_all_namespaces_without_headers.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_customruns_without_headers.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_in_reverse.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_in_reverse_with_output_flag.golden
  pkg/cmd/root.go
  pkg/cmd/testdata/TestPluginList.golden
  pkg/customrun/sort/by_namespace.go
  pkg/customrun/sort/by_namespace_test.go
  pkg/customrun/sort/by_start_time.go
  pkg/customrun/sort/by_start_time_test.go
  pkg/test/builder/unstructured.go
  pkg/test/dynamic/clientset/tekton.go
  pkg/test/dynamic/dynamictestclient.go
  test/e2e/customrun/list_test.go
  test/resources/customrun/customrun.yaml
Due: lint-go, test, lint-yaml

Bump hashicorp/vault/api to v1.11.0
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault/api/.copywrite.hcl
  vendor/github.com/hashicorp/vault/api/client.go
  vendor/github.com/hashicorp/vault/api/logical.go
  vendor/github.com/hashicorp/vault/api/plugin_helpers.go
  vendor/github.com/hashicorp/vault/api/plugin_types.go
  vendor/github.com/hashicorp/vault/api/replication_status.go
  vendor/github.com/hashicorp/vault/api/request.go
  vendor/github.com/hashicorp/vault/api/secret.go
  vendor/github.com/hashicorp/vault/api/sys_capabilities.go
  vendor/github.com/hashicorp/vault/api/sys_hastatus.go
  vendor/github.com/hashicorp/vault/api/sys_health.go
  vendor/github.com/hashicorp/vault/api/sys_mounts.go
  vendor/github.com/hashicorp/vault/api/sys_plugins.go
  vendor/github.com/hashicorp/vault/api/sys_plugins_runtimes.go
  vendor/github.com/hashicorp/vault/api/sys_seal.go
  vendor/github.com/hashicorp/vault/api/sys_ui_custom_message.go
  vendor/modules.txt
Due: none

Move chains cmd to v1
  pkg/chain/chain.go
  pkg/cmd/chain/payload.go
  pkg/cmd/chain/signature.go
Due: lint-go, test

New version v0.35.0
  VERSION
Due: none

Bump docs to latest v0.35.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Refactored README.md file.
  test/README.md
Due: none

support v1 for sign and verofy command
  docs/cmd/tkn_pipeline_sign.md
  docs/cmd/tkn_pipeline_verify.md
  docs/cmd/tkn_task_sign.md
  docs/cmd/tkn_task_verify.md
  docs/man/man1/tkn-pipeline-sign.1
  docs/man/man1/tkn-pipeline-verify.1
  docs/man/man1/tkn-task-sign.1
  docs/man/man1/tkn-task-verify.1
  pkg/cmd/pipeline/sign.go
  pkg/cmd/pipeline/sign_test.go
  pkg/cmd/pipeline/testdata/signed-v1.yaml
  pkg/cmd/pipeline/verify.go
  pkg/cmd/pipeline/verify_test.go
  pkg/cmd/task/sign.go
  pkg/cmd/task/sign_test.go
  pkg/cmd/task/testdata/signed-v1.yaml
  pkg/cmd/task/verify.go
  pkg/cmd/task/verify_test.go
  pkg/trustedresources/sign.go
  pkg/trustedresources/sign_test.go
Due: lint-go, test, lint-yaml

Fix triggertemplate describe command breaks backward compatibility
  go.mod
  go.sum
  pkg/cmd/triggertemplate/testdata/TestTriggerTemplateDescribe_WithOutputYaml.golden
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1alpha1/trigger_template_types.go
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1alpha1/trigger_template_validation.go
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1beta1/openapi_generated.go
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1beta1/trigger_template_types.go
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1beta1/trigger_template_validation.go
  vendor/knative.dev/serving/AUTHORS
  vendor/knative.dev/serving/pkg/apis/config/features.go
  vendor/knative.dev/serving/pkg/apis/serving/fieldmask.go
  vendor/knative.dev/serving/pkg/apis/serving/k8s_validation.go
  vendor/knative.dev/serving/pkg/apis/serving/v1/revision_defaults.go
  vendor/knative.dev/serving/pkg/apis/serving/v1/revision_helpers.go
  vendor/knative.dev/serving/pkg/apis/serving/v1/route_lifecycle.go
  vendor/modules.txt
Due: none

New version v0.35.1
  VERSION
Due: none

Bump readme for v0.35.1
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Add e2e test
  test/e2e/pipeline/start_test.go
Due: lint-go, test

Fix logs command not showing logs
  pkg/cmd/taskrun/logs_test.go
  pkg/log/task_reader.go
  test/e2e/pipeline/start_test.go
  test/resources/pipeline.yaml
Due: lint-go, test, lint-yaml
