Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

CI: Use goinstall mode for golangci-lint action
  .github/workflows/ci.yaml
Due: lint-yaml

CI: Group all GitHub Actions dependabot updates together
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

CI: Use goinstall mode for golangci-lint action
  .github/workflows/ci.yaml
  vendor/github.com/alibabacloud-go/cr-20160607/LICENSE
  vendor/github.com/alibabacloud-go/cr-20160607/client/LICENSE
Due: lint-yaml

fix(cve): CVE-2026-27145 - update Go toolchain to 1.25.11
  go.mod
Due: none

refactor(release): use .x branches for releases
  RELEASE_PROCESS.md
  tekton/README.md
  tekton/release.sh
Due: none

fix(cve): bump Go stdlib to 1.25.11 [release-v0.43.x]
  go.mod
Due: none

Update OWNERS file for release-v0.37.6 branch
  OWNERS
Due: none

Add CI summary job to the github workflows
  .github/workflows/ci.yaml
Due: lint-yaml

fix: CVE-2025-61729 - update contrib Dockerfile to use Go 1.25.6
  contrib/tkn-image/Dockerfile
Due: none

chore: sync OWNERS file with main [release-v0.42.x]
  OWNERS
Due: none

chore: sync OWNERS file with main [release-v0.43.x]
  OWNERS
Due: none

chore: sync OWNERS file with main [release-v0.44.x]
  OWNERS
Due: none

chore(deps): add branch prefix to dependabot PR titles for release branches
  .github/dependabot.yml
  hack/generate-dependabot.go
Due: lint-go, test, lint-yaml

feat: add --log-failed flag to pipelinerun logs command
  docs/cmd/tkn_pipelinerun_logs.md
  docs/man/man1/tkn-pipelinerun-logs.1
  pkg/cmd/pipelinerun/logs.go
  pkg/cmd/pipelinerun/logs_test.go
  pkg/log/pipeline_reader.go
  pkg/log/reader.go
  pkg/options/logs.go
  pkg/taskrun/taskrun.go
Due: lint-go, test

Try to fix alibabacloud-go/cr-20160607 license
  go.mod
  go.sum
  hack/update-deps.sh
  vendor/github.com/alibabacloud-go/cr-20160607/client/LICENSE
  vendor/modules.txt
Due: none

fix: resolve golangci-lint errors (cherry-pick from main)
  cmd/tkn/main.go
  pkg/formatted/color.go
  pkg/plugins/plugins.go
  pkg/suggestion/suggest.go
Due: lint-go, test

fix(cve): CVE-2026-42499, CVE-2026-39820 - update Go 1.25.9 to 1.25.10
  go.mod
Due: none

fix: resolve gofmt and golden file test failures
  hack/generate-dependabot.go
  pkg/cmd/pipeline/testdata/TestPipelineList_in_all_namespaces_with_output_yaml_flag.golden
  pkg/cmd/pipelinerun/logs_test.go
  pkg/cmd/task/testdata/TestTaskList_in_all_namespaces_with_output_yaml_flag.golden
Due: lint-go, test

Path conditions:
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test: any of: \.go$, but not: (^vendor|.*golden$)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
