Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

Drafted a basic doc for tkn-plugins
  docs/tkn-plugins.md
Due: none

Add labeling support to `tkn bundle push`
  docs/cmd/tkn_bundle_push.md
  docs/man/man1/tkn-bundle-push.1
  pkg/bundle/builder.go
  pkg/bundle/builder_test.go
  pkg/cmd/bundle/list_test.go
  pkg/cmd/bundle/push.go
  pkg/cmd/bundle/push_test.go
Due: lint-go, test

Fix logs command not showing logs
  pkg/cmd/taskrun/logs_test.go
  pkg/log/task_reader.go
  test/e2e/pipeline/start_test.go
  test/resources/pipeline.yaml
Due: lint-go, test, lint-yaml

Prepare setup for moving e2e to kind
  test/e2e-tests-kind-prow.env
  test/e2e-tests.sh
Due: none

Bump golangci-lint to v0.56.2
  Makefile
  cmd/docs/md_docs.go
  pkg/bundle/builder_test.go
  pkg/bundle/parser_test.go
  pkg/cli/prerun/prerun.go
  pkg/cmd/bundle/list.go
  pkg/cmd/bundle/push.go
  pkg/cmd/clustertask/describe_test.go
  pkg/cmd/clustertask/list.go
  pkg/cmd/clustertriggerbinding/list.go
  pkg/cmd/customrun/list.go
  pkg/cmd/eventlistener/list.go
  pkg/cmd/pipeline/list.go
  pkg/cmd/pipeline/start.go
  pkg/cmd/pipelinerun/cancel_test.go
  pkg/cmd/task/describe_test.go
  pkg/cmd/task/list.go
  pkg/cmd/task/start.go
  pkg/cmd/taskrun/cancel_test.go
  pkg/cmd/triggerbinding/list.go
  pkg/cmd/triggertemplate/list.go
  pkg/cmd/version/version.go
  pkg/cmd/version/version_test.go
  pkg/flags/flags.go
  pkg/options/describe.go
  pkg/options/logs.go
  pkg/pods/pod.go
  tekton/release-pipeline.yml
  test/framework/helper.go
Due: lint-go, test, lint-yaml

Bump golang to 1.21 as minimum requirement
  go.mod
  go.sum
  tekton/release-pipeline.yml
  tools/go.mod
  tools/go.sum
Due: lint-yaml

New version v0.36.0
  VERSION
Due: none

Bump tkn to v0.36.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

New version v0.35.2
  VERSION
Due: none

Add 0.35.2 in LTS doc
  releases.md
Due: none

Enable dependabot on github actions
  .github/dependabot.yml
Due: lint-yaml

Fix codeql github action
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

support v1 for sign and verofy command
  docs/cmd/tkn_pipeline_sign.md
  docs/cmd/tkn_pipeline_verify.md
  docs/cmd/tkn_task_sign.md
  docs/cmd/tkn_task_verify.md
  docs/man/man1/tkn-pipeline-sign.1
  docs/man/man1/tkn-pipeline-verify.1
  docs/man/man1/tkn-task-sign.1
  docs/man/man1/tkn-task-verify.1
  pkg/cmd/pipeline/sign.go
  pkg/cmd/pipeline/sign_test.go
  pkg/cmd/pipeline/testdata/signed-v1.yaml
  pkg/cmd/pipeline/verify.go
  pkg/cmd/pipeline/verify_test.go
  pkg/cmd/task/sign.go
  pkg/cmd/task/sign_test.go
  pkg/cmd/task/testdata/signed-v1.yaml
  pkg/cmd/task/verify.go
  pkg/cmd/task/verify_test.go
  pkg/trustedresources/sign.go
  pkg/trustedresources/sign_test.go
Due: lint-go, test, lint-yaml

Bump sigstore to v1.8.3
  go.mod
  go.sum
  pkg/trustedresources/verify_test.go
  vendor/github.com/sigstore/sigstore/pkg/signature/ecdsa.go
  vendor/github.com/sigstore/sigstore/pkg/tuf/repository/root.json
  vendor/modules.txt
Due: lint-go, test

Add -E flag to exit with the pr sate on unix shell
  docs/cmd/tkn_pipeline_start.md
  docs/cmd/tkn_pipelinerun_logs.md
  docs/man/man1/tkn-pipeline-start.1
  docs/man/man1/tkn-pipelinerun-logs.1
  pkg/cmd/pipeline/start.go
  pkg/cmd/pipelinerun/logs.go
  pkg/cmd/pipelinerun/logs_test.go
  pkg/options/logs.go
Due: lint-go, test

Fix vcs links to be static
  RELEASE_PROCESS.md
  choco/README.md
Due: none

Bump golangci-lint to v0.58.0
  .errcheck.txt
  .golangci.yml
  Makefile
  tekton/release-pipeline.yml
Due: lint-yaml

Group docker dep updates
  .github/dependabot.yml
Due: lint-yaml

Bump k8s.io/apimachinery to v0.28.9
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Group all k8s dep together
  .github/dependabot.yml
Due: lint-yaml

Bump go version to 1.22
  go.mod
  tekton/release-pipeline.yml
  tools/go.mod
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_intermediate_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_leaf_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_root_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_intermediate_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_leaf_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_root_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_key.pem
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_key.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/client_key.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/server_key.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/client_key.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/server_key.pem
  vendor/github.com/google/s2a-go/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/testdata/client_key.pem
  vendor/github.com/google/s2a-go/testdata/mds_client_cert.pem
  vendor/github.com/google/s2a-go/testdata/mds_client_key.pem
  vendor/github.com/google/s2a-go/testdata/mds_root_cert.pem
  vendor/github.com/google/s2a-go/testdata/mds_server_cert.pem
  vendor/github.com/google/s2a-go/testdata/mds_server_key.pem
  vendor/github.com/google/s2a-go/testdata/self_signed_cert.pem
  vendor/github.com/google/s2a-go/testdata/self_signed_key.pem
  vendor/github.com/google/s2a-go/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/testdata/server_key.pem
Due: lint-yaml

Bump goreleaser for latest v1.25.1
  .goreleaser.yml
  tekton/release-pipeline.yml
Due: lint-yaml
