Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-toml
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: check-vcs-permalinks
  - id: detect-private-key
    exclude: ".*_test.go"
- repo: local
  hooks:
  - id: lint-go
    name: "Lint GO"
    entry: make
    args: ["lint-go"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test
    name: "Unit testing"
    entry: make
    args: ["test"]
    language: system
    types: [go]
    pass_filenames: false
  - id: lint-yaml
    name: "Lint YAML"
    entry: make
    args: ["lint-yaml"]
    language: system
    types: [yaml]
    pass_filenames: false

fix(cve): CVE-2026-33811, CVE-2026-39833 - update Go stdlib and x/crypto
  go.mod
Due: none

Align PAC release with pipeline/operator conventions
  .github/workflows/patch-release.yaml
  .tekton/release-patch.yaml
  tekton/release-pipeline.yaml
  tekton/release.sh
  tekton/rpmbuild/README.md
Due: lint-yaml

Use dedicated release ServiceAccount in PAC release pipeline
  .tekton/release.yaml
Due: lint-yaml

feat: automate releases with Pipelines-as-Code
  .github/workflows/patch-release.yaml
  .tekton/release.yaml
Due: lint-yaml

docs: update README logo link to CNCF artwork location
  README.md
Due: none

docs: address review feedback for CONTEXT.md
  CONTEXT.md
Due: none

PinP: cache child PR fetches to avoid redundant GetPipelineRun calls
  pkg/log/pipeline_reader.go
Due: lint-go, test

ci(.github/workflows): enable Codecov coverage reporting
  .codecov.yaml
  .github/workflows/go-coverage.yml
Due: lint-yaml

replaced blang/semver with Masterminds/semver Signed-off-by: Anwesha Palit <apalit@redhat.com> Assisted-by: Cursor
  go.mod
  pkg/cmd/version/version.go
  pkg/cmd/version/version_test.go
Due: lint-go, test

fix(releaes): fix release script to fetch the correct previous tag
  tekton/release-pipeline.yml
  tekton/release.sh
Due: lint-yaml

New version v0.45.1
  VERSION
Due: none

fix(cve): CVE-2026-42505 - update Go stdlib to 1.26.5
  go.mod
Due: none

fix(cve): CVE-2026-42505 - update Go stdlib to 1.25.12
  go.mod
Due: none

feat: add ndjson output format with field selection to list commands
  pkg/cmd/clustertriggerbinding/list.go
  pkg/cmd/customrun/list.go
  pkg/cmd/eventlistener/list.go
  pkg/cmd/pipeline/list.go
  pkg/cmd/pipelinerun/list.go
  pkg/cmd/task/list.go
  pkg/cmd/taskrun/list.go
  pkg/cmd/triggerbinding/list.go
  pkg/cmd/triggertemplate/list.go
  pkg/formatted/ndjson.go
  pkg/formatted/ndjson_test.go
Due: lint-go, test

New version v0.37.7
  VERSION
Due: none

update the script and goreleaser version
  tekton/release-pipeline.yml
  tekton/release.sh
Due: lint-yaml

feat(release): add release skill for patch and minor releases
  .agents/skills/release/SKILL.md
  .agents/skills/release/references/prerequisites.md
  AGENTS.md
Due: none

fetch child PipelineRuns once and make ordering deterministic
  pkg/cmd/pipelinerun/describe_v1_test.go
  pkg/cmd/pipelinerun/logs_test.go
  pkg/cmd/pipelinerun/testdata/TestPipelineRunDescribe_same_start_time.golden
  pkg/log/pipeline_reader.go
  pkg/pipelinerun/description.go
  pkg/pipelinerun/description_test.go
  pkg/pipelinerun/tracker.go
  pkg/pipelinerun/tracker_test.go
  pkg/taskrun/taskrun.go
Due: lint-go, test
