Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

New version v0.42.3
  VERSION
Due: none

New version v0.45.2
  VERSION
Due: none

chore: downgrade go version to 1.26.5
  go.mod
Due: none

chore: downgrade go version
  go.mod
Due: none

New Version v0.45.2
  VERSION
Due: none

chore(docs): update version to v0.46.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  tekton/release-pipeline.yaml
Due: lint-yaml

feat: add JSON output to taskrun delete
  pkg/cmd/taskrun/delete.go
  pkg/cmd/taskrun/delete_test.go
  pkg/deleter/deleter.go
  pkg/deleter/deleter_test.go
Due: lint-go, test

docs: add agent context for tkn CLI
  CONTEXT.md
Due: none

fix(plugins): reject relative plugin dirs to prevent cwd fallback (CWE-426)
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
Due: lint-go, test

fix(plugins): validate homedir-expanded path is absolute (Copilot review)
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
Due: lint-go, test

test(plugins): use TKN_PLUGINS_DIR=. to actually catch the cwd fallback
  pkg/plugins/plugins_test.go
Due: lint-go, test

fix(pipelinerun): address Copilot review on PinP logs
  pkg/cmd/pipelinerun/logs_test.go
  pkg/log/pipeline_reader.go
  pkg/pipelinerun/tracker.go
  pkg/pipelinerun/tracker_test.go
Due: lint-go, test

feat: validate --fields requires --output ndjson across list commands
  pkg/cmd/clustertriggerbinding/list.go
  pkg/cmd/customrun/list.go
  pkg/cmd/eventlistener/list.go
  pkg/cmd/pipeline/list.go
  pkg/cmd/pipeline/list_test.go
  pkg/cmd/pipelinerun/list.go
  pkg/cmd/pipelinerun/list_test.go
  pkg/cmd/task/list.go
  pkg/cmd/task/list_test.go
  pkg/cmd/taskrun/list.go
  pkg/cmd/triggerbinding/list.go
  pkg/cmd/triggertemplate/list.go
  pkg/formatted/ndjson.go
  pkg/formatted/ndjson_test.go
Due: lint-go, test

fix(VERSION): update the version to latest patch version
  VERSION
Due: none

fix(bundle): gate name.Insecure behind --remote-skip-tls (CWE-319)
  docs/cmd/tkn_bundle_list.md
  docs/cmd/tkn_bundle_push.md
  docs/cmd/tkn_task_start.md
  docs/man/man1/tkn-bundle-list.1
  docs/man/man1/tkn-bundle-push.1
  docs/man/man1/tkn-task-start.1
  pkg/bundle/flags.go
  pkg/cmd/bundle/list.go
  pkg/cmd/bundle/push.go
Due: lint-go, test

fix: add execute-bit check in FindPlugin included execute-bit check in Plugin discovery to only allow executable files. Added tests to verify this execute-bit check.
  pkg/plugins/plugins.go
  pkg/plugins/plugins_test.go
Due: lint-go, test

chore: add rebase and cherry-pick slash command workflows
  .github/workflows/chatops_retest.yaml
  .github/workflows/rebase-command.yaml
  .github/workflows/slash.yml
Due: lint-yaml

chore: fix rebase-command workflow permissions and SHA comment
  .github/workflows/rebase-command.yaml
Due: lint-yaml

Path conditions:
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test: any of: \.go$, but not: (^vendor|.*golden$)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
