Repository tektoncd/cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-go, test, lint-yaml

lint-go:
  name: Lint GO
  entry: make
  args:
  - lint-go
  language: system
  pass_filenames: false

test:
  name: Unit testing
  entry: make
  args:
  - test
  language: system
  pass_filenames: false

lint-yaml:
  name: Lint YAML
  entry: make
  args:
  - lint-yaml
  language: system
  pass_filenames: false

Fix golang CI lint failures
  .github/workflows/ci.yaml
  .golangci.yml
Due: lint-yaml

Deprecate the chain command
  docs/cmd/tkn.md
  docs/man/man1/tkn.1
  pkg/cmd/chain/chain.go
  pkg/cmd/chain/payload.go
  pkg/cmd/chain/signature.go
Due: lint-go, test

Add Shiv (pratap0007) as a maintainer
  OWNERS
Due: none

fix panic when trying to read pod logs when pod is already deleted
  pkg/log/task_reader.go
Due: lint-go, test

Handle nil steps and add error message
  pkg/log/task_reader.go
Due: lint-go, test

chore: referencing the setup-kind script in the plumbing repo instead of copying it
  .github/workflows/e2e-matrix.yml
  hack/setup-kind.sh
Due: lint-yaml

New version v0.42.0
  VERSION
Due: none

Update CLI docs for v0.42.0 release
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Update README and choco with latest release
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Due: none

Update goreleaser version to compatible version
  tekton/release-pipeline.yml
Due: lint-yaml

Add --resolvertype flag to rerun a resolver based pipelinerun
  docs/cmd/tkn_pipeline_start.md
  docs/man/man1/tkn-pipeline-start.1
  pkg/cmd/pipeline/start.go
  pkg/cmd/pipeline/start_test.go
Due: lint-go, test

Pin actions by commit SHA
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

Free the space on the workers before running CI
  .github/workflows/ci.yaml
Due: lint-yaml

Address review comments
  docs/cmd/tkn_pipeline_start.md
  docs/man/man1/tkn-pipeline-start.1
  pkg/cmd/pipeline/start.go
  pkg/cmd/pipeline/start_test.go
Due: lint-go, test

Fix pronoun in command usage text
  pkg/cli/prerun/prerun.go
  pkg/cmd/bundle/list_test.go
  pkg/cmd/pipeline/sign_test.go
  pkg/cmd/pipeline/verify_test.go
  pkg/cmd/task/sign_test.go
  pkg/cmd/task/verify_test.go
Due: lint-go, test

Fix lint errors
  test/e2e/customrun/list_test.go
  test/e2e/eventlistener/eventListener_test.go
  test/e2e/pipeline/pipeline_test.go
  test/e2e/pipeline/start_test.go
  test/e2e/pipelinerun/pipelinerun_test.go
  test/e2e/plugin/plugin_test.go
  test/e2e/task/start_test.go
Due: lint-go, test

New version v0.43.0
  VERSION
Due: none

Update goreleaser version to v.12.0
  tekton/release-pipeline.yml
Due: lint-yaml

Path conditions:
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test: any of: \.go$, but not: (^vendor|.*golden$)
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
